.u-section-1 {
  background-image: none;
  min-height: 617px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 24px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 592px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 399px auto 0 10px;
  padding: 10px 29px;
}

.u-section-1 .u-image-1 {
  width: 757px;
  height: 516px;
  margin: -444px 30px 0 auto;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  background-image: none;
  font-size: 1rem;
  margin: -240px 860px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.8;
  background-image: none;
  letter-spacing: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: -281px 782px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-bottom: 34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 406px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-1 {
    width: 651px;
    height: 444px;
    margin-top: -451px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -156px;
    margin-right: 676px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.375rem;
    width: auto;
    margin-top: -320px;
    margin-right: 607px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 70px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 341px;
    margin-left: 24px;
    padding: 7px 17px 8px;
  }

  .u-section-1 .u-image-1 {
    width: 485px;
    height: 301px;
    margin-top: -331px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -116px;
    margin-right: 535px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
    margin-top: -219px;
    margin-right: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 331px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 310px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 220px;
    margin-left: 21px;
    padding-right: 19px;
    padding-left: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 315px;
    height: 215px;
    margin-top: -234px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -79px;
    margin-right: 310px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    margin-top: -151px;
    margin-right: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 267px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 46px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 196px;
    margin-left: 17px;
    padding: 5px 14px 6px;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 134px;
    margin-top: -190px;
    margin-right: -24px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.5rem;
    margin-top: -30px;
    margin-right: 205px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: -128px;
    margin-right: 204px;
  }
}.u-section-2 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 805px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 791px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 6px 25px 28px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  margin: 35px 39px 0;
}

.u-section-2 .u-text-2 {
  font-family: Barlow;
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: normal;
  text-transform: none;
  width: 830px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 194px 770px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -176px 0 0 764px;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #29b7dd, #bd72ef);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  animation-duration: 2000ms;
  margin: 136px auto 0;
  padding: 11px 20px 12px 19px;
}

.u-section-2 .u-image-1 {
  width: 355px;
  height: 355px;
  background-image: url("images/oll.jpg");
  background-position: 50% 50%;
  margin: -498px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 783px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 11px;
    padding-bottom: 15px;
    padding-left: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 157px;
    margin-right: 642px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -208px;
    margin-left: 653px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 151px;
    margin-bottom: -15px;
  }

  .u-section-2 .u-image-1 {
    width: 335px;
    height: 335px;
    margin-top: -464px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 524px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 145px;
    margin-right: 519px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -85px;
    margin-right: 4px;
    margin-left: 494px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 114px;
    margin-bottom: 0;
    margin-left: 265px;
    padding: 8px 18px 9px 17px;
  }

  .u-section-2 .u-image-1 {
    width: 259px;
    height: 259px;
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 9px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 78px;
    margin-right: 380px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -124px;
    margin-right: 11px;
    margin-left: 363px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 72px;
    margin-left: 189px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: -290px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 62px;
    margin-right: 75px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 231px;
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-2 .u-btn-1 {
    margin: 33px 96px -311px auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -50px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 855px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  width: 527px;
  font-size: 2.25rem;
  margin: 42px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 773px;
  background-image: none;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 96px 184px 0 478px;
}

.u-section-3 .u-image-1 {
  width: 331px;
  height: 457px;
  object-position: 43.75% 0%;
  margin: -36px auto 0 11px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -389px 44px 0 478px;
}

.u-section-3 .u-image-2 {
  width: 239px;
  height: 174px;
  margin: 90px 234px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  background-image: none;
  margin: 0 202px 60px 643px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 111px;
    margin-right: 36px;
    margin-left: 426px;
  }

  .u-section-3 .u-image-1 {
    height: 458px;
    margin-top: -68px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -336px;
    margin-left: 426px;
  }

  .u-section-3 .u-image-2 {
    height: 183px;
    margin-top: 72px;
    margin-right: 159px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 144px;
    margin-left: 507px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 69px;
    margin-right: 37px;
    margin-left: 360px;
  }

  .u-section-3 .u-image-1 {
    width: 218px;
    height: 302px;
    margin-top: -26px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -256px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-3 .u-image-2 {
    width: 168px;
    height: 129px;
    margin-top: 41px;
    margin-right: 114px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    margin-right: 101px;
    margin-bottom: 54px;
    margin-left: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.375rem;
    margin-top: 62px;
    margin-right: 116px;
    margin-left: 243px;
  }

  .u-section-3 .u-image-1 {
    width: 169px;
    height: 235px;
    margin-top: -28px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -184px;
    margin-right: 7px;
    margin-left: 243px;
  }

  .u-section-3 .u-image-2 {
    width: 145px;
    height: 106px;
    margin-top: 23px;
    margin-right: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 100px;
    margin-bottom: 55px;
    margin-left: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: 181px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 163px;
    margin: 5px auto 42px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 71px 778px 0 51px;
}

.u-section-4 .u-image-1 {
  width: 557px;
  height: 499px;
  margin: -12px 33px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
  margin: -451px 681px 0 60px;
}

.u-section-4 .u-image-2 {
  width: 213px;
  height: 158px;
  margin: 103px auto 0 148px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 735px 60px 103px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-right: 629px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -499px;
    margin-right: 589px;
    margin-left: 9px;
  }

  .u-section-4 .u-image-2 {
    width: 223px;
    height: 168px;
    margin-top: 160px;
    margin-right: 648px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 648px;
    margin-left: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-right: 409px;
  }

  .u-section-4 .u-image-1 {
    width: 387px;
    height: 347px;
    margin-top: 42px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -347px;
    margin-right: 409px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 174px;
    height: 131px;
    margin-top: 82px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    margin-right: 457px;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.375rem;
    margin-top: 74px;
    margin-right: 346px;
  }

  .u-section-4 .u-image-1 {
    width: 298px;
    height: 267px;
    margin-top: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -245px;
    margin-right: 304px;
  }

  .u-section-4 .u-image-2 {
    width: 137px;
    height: 103px;
    margin-top: 48px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 12px;
    margin-right: 346px;
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-text-1 {
    width: 194px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 159px;
    margin: 10px auto 38px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 633px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 84px 40px 0 609px;
}

.u-section-5 .u-image-1 {
  width: 542px;
  height: 409px;
  object-position: 50.44% 50%;
  margin: -12px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
  margin: -367px 19px 0 616px;
}

.u-section-5 .u-image-2 {
  width: 222px;
  height: 173px;
  margin: 66px 169px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  background-image: none;
  margin: 6px 124px 60px 703px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-right: 0;
    margin-left: 448px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 354px;
    margin-top: 73px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -366px;
    margin-right: 0;
    margin-left: 526px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 71px;
    margin-left: 627px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 51px;
    margin-bottom: 54px;
    margin-left: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 399px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 271px;
    object-position: 48.8% 50%;
    margin-top: 38px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -271px;
    margin-left: 399px;
  }

  .u-section-5 .u-image-2 {
    width: 167px;
    height: 130px;
    margin-top: 51px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.625rem;
    margin: 0 49px 60px 448px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.375rem;
    margin-top: 68px;
    margin-left: 309px;
  }

  .u-section-5 .u-image-1 {
    width: 279px;
    height: 214px;
    object-position: 48.25% 50%;
    margin-top: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -194px;
    margin-left: 309px;
  }

  .u-section-5 .u-image-2 {
    width: 125px;
    height: 97px;
    margin-top: 28px;
    margin-right: 62px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 31px;
    margin-bottom: 37px;
    margin-left: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-5 .u-text-1 {
    width: 231px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 187px;
    margin: 14px auto 56px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-family: Anton;
  width: 368px;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  grid-auto-rows: 100%;
  width: 1112px;
  margin: 85px auto 47px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8px);
  grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
  grid-gap: 12px 12px;
  min-height: 902px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 257px;
  width: 257px;
  background-image: url("images/foto_tepha.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  background-image: none;
  font-size: 1rem;
  margin: 40px 12px 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  min-height: 16px;
  width: 152px;
  min-width: 108px;
  height: 31px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 257px;
  width: 257px;
  background-image: url("images/foto_nico.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px 0 0;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  background-image: none;
  margin: 40px 12px 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 31px;
  min-height: 16px;
  width: 152px;
  min-width: 108px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 257px;
  width: 257px;
  background-image: url("images/foto_caro.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px 0 0;
}

.u-section-6 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  background-image: none;
  margin: 40px 12px 0;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 31px;
  min-height: 16px;
  width: 152px;
  min-width: 108px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-icon-9 {
  height: 100%;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 96px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 960px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    width: 144px;
    height: 28px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-2 {
    height: 28px;
    width: 144px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-3 {
    height: 28px;
    width: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 15px 15px;
    min-height: 1037px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 8px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 109px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 54px;
    margin-left: 1px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 49px;
    margin-left: 54px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 152px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 8px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 109px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 54px;
    margin-left: 1px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 50px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 14px;
    margin-right: 49px;
    margin-left: 54px;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 152px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 8px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 109px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 54px;
    margin-left: 1px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 50px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 14px;
    margin-right: 49px;
    margin-left: 54px;
  }

  .u-section-6 .u-social-icons-3 {
    margin-top: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 66px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 897px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 0;
  }

  .u-section-6 .u-image-1 {
    height: 245px;
    width: 245px;
    margin-top: 49px;
    margin-right: 66px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 24px;
    margin-right: 45px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 6px;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 44px;
    margin-right: 24px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 158px;
    height: 33px;
    margin-top: 49px;
    margin-left: 191px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 245px;
    width: 245px;
    margin-top: 49px;
    margin-right: 66px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 24px;
    margin-right: 45px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 6px;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 44px;
    margin-right: 24px;
  }

  .u-section-6 .u-social-icons-2 {
    height: 33px;
    width: 158px;
    margin-top: 49px;
    margin-left: 191px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 30px;
    padding-left: 0;
  }

  .u-section-6 .u-image-3 {
    height: 245px;
    width: 245px;
    margin-top: 49px;
    margin-right: 66px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 24px;
    margin-right: 45px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 6px;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 44px;
    margin-right: 24px;
  }

  .u-section-6 .u-social-icons-3 {
    height: 33px;
    width: 158px;
    margin-top: 49px;
    margin-left: 191px;
  }

  .u-section-6 .u-gallery-nav-1 {
    width: 20px;
    height: 20px;
  }

  .u-section-6 .u-gallery-nav-2 {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 174px;
    width: 174px;
    margin-top: 45px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 31px;
    margin-right: 25px;
    margin-left: 18px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 141px;
    height: 27px;
    margin-top: 60px;
    margin-right: 84px;
    margin-left: 82px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 14px;
    padding-left: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 174px;
    width: 174px;
    margin-top: 45px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
    margin-top: 31px;
    margin-right: 25px;
    margin-left: 18px;
  }

  .u-section-6 .u-social-icons-2 {
    height: 27px;
    width: 141px;
    margin-top: 60px;
    margin-right: 84px;
    margin-left: 82px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 14px;
    padding-left: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 174px;
    width: 174px;
    margin-top: 45px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
    margin-top: 31px;
    margin-right: 25px;
    margin-left: 18px;
  }

  .u-section-6 .u-social-icons-3 {
    height: 27px;
    width: 141px;
    margin-top: 60px;
    margin-right: 84px;
    margin-left: 82px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 718px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 587px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 25px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 218px 0 0 5px;
}

.u-section-7 .u-line-1 {
  width: 100px;
  height: 6px;
  margin: 11px auto 0 5px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 297px;
}

.u-section-7 .u-container-layout-2 {
  padding: 29px 16px 30px 24px;
}

.u-section-7 .u-image-1 {
  width: 240px;
  height: 220px;
  margin: 18px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 297px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 18px 30px 19px;
}

.u-section-7 .u-image-2 {
  width: 200px;
  height: 210px;
  margin: 22px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 290px;
}

.u-section-7 .u-container-layout-4 {
  padding: 7px 30px;
}

.u-section-7 .u-image-3 {
  width: 276px;
  height: 276px;
  background-image: url("images/django-python-log.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-line-1 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-7 .u-image-1 {
    width: 195px;
    height: 179px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-7 .u-image-2 {
    width: 198px;
    height: 208px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 15px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 114px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 59px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 29px;
  }

  .u-section-7 .u-image-2 {
    width: 186px;
    height: 186px;
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 295px;
  }

  .u-section-7 .u-image-3 {
    width: 217px;
    height: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-bottom: 35px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 55px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    margin-top: 7px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 157px;
    height: 139px;
    margin-left: 60px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0 10px 13px;
  }

  .u-section-7 .u-image-2 {
    width: 116px;
    height: 131px;
    margin-top: -161px;
    margin-right: 68px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 184px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 155px;
    width: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 21px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-7 .u-image-1 {
    width: 136px;
    height: 120px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 105px;
    height: 105px;
    margin-top: -142px;
    margin-right: 18px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 73px;
  }

  .u-section-7 .u-image-3 {
    width: 116px;
    height: 116px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8 .u-text-1 {
  font-family: Anton;
  width: 156px;
  background-image: none;
  font-size: 3rem;
  margin: 75px auto 0;
}

.u-section-8 .u-video-1 {
  width: 842px;
  height: 524px;
  filter: brightness(0.95);
  box-shadow: 2px 0 15px 0 rgba(128,128,128,1);
  margin: 57px auto 60px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-8 .u-video-1 {
    width: 778px;
    height: 484px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 57px;
  }

  .u-section-8 .u-video-1 {
    width: 660px;
    height: 371px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-video-1 {
    height: 278px;
    width: 494px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-8 .u-video-1 {
    height: 298px;
    margin-top: 47px;
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}