.u-section-1 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 14px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.8;
  background-image: none;
  letter-spacing: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 66px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 68px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 76px auto 0 10px;
  padding: 10px 29px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/xx-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 82px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-2 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 936px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 39px;
}

.u-section-2 .u-text-2 {
  font-family: Barlow;
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: normal;
  text-transform: none;
  width: 830px;
  margin: 15px auto 0;
}

.u-section-2 .u-image-1 {
  width: 343px;
  height: 343px;
  background-image: url("images/oll.jpg");
  background-position: 50% 50%;
  margin: 181px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -132px 77px 0 736px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: -532px 730px 0 98px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 807px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 11px;
    padding-bottom: 0;
    padding-left: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 14px;
    margin-left: 19px;
  }

  .u-section-2 .u-image-1 {
    width: 314px;
    height: 314px;
    margin-top: 164px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -127px;
    margin-right: 0;
    margin-left: 662px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -508px;
    margin-right: 660px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 702px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 552px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 550px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 907px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 524px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 373px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 5px;
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 324px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: 264px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -776px;
    margin-right: 73px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 728px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  width: 527px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 773px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 110px 580px 0 0;
}

.u-section-3 .u-image-1 {
  width: 455px;
  height: 213px;
  object-position: 43.75% 50%;
  margin: 26px auto 0 46px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -193px 60px 169px 520px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    font-size: 2.75rem;
    margin-right: 380px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 160px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    height: 159px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -139px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 733px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 513px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 138px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 26px 13px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -118px 94px 0 735px;
}

.u-section-4 .u-image-1 {
  width: 498px;
  height: 335px;
  margin: 58px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 81px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 629px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 229px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 29px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 229px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-family: Anton;
  width: 368px;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  grid-auto-rows: 100%;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 8px);
  grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
  grid-gap: 12px 12px;
  min-height: 711px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: url("images/foto_tepha.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 24px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: url("images/foto_nico.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 24px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: url("images/foto_caro.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 24px auto 0;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

.u-section-5 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-top: 88px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 8px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8px));
    min-height: 586px;
  }

  .u-section-5 .u-image-1 {
    height: 190px;
    width: 190px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-5 .u-image-2 {
    height: 190px;
    width: 190px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 1px;
  }

  .u-section-5 .u-image-3 {
    height: 190px;
    width: 190px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6px);
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 1347px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 718px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 587px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 25px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 218px 0 0 5px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 6px;
  margin: 11px auto 0 5px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 297px;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px 16px 30px 24px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 220px;
  margin: 18px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 297px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 18px 30px 19px;
}

.u-section-6 .u-image-2 {
  width: 200px;
  height: 210px;
  margin: 22px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 290px;
}

.u-section-6 .u-container-layout-4 {
  padding: 7px 30px;
}

.u-section-6 .u-image-3 {
  width: 276px;
  height: 276px;
  background-image: url("images/django-python-log.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-6 .u-image-1 {
    width: 195px;
    height: 179px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-6 .u-image-2 {
    width: 198px;
    height: 208px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 275px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 21px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: 18px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 354px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 173px;
  }
}